* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 850px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
  }
  .header.open {
    position: relative;
    z-index: 1;
    color: white;
    background-color: rgba(37, 43, 70, 0.9);
  }
  .header.open .logo {
    fill: white;
  }
  .header.open .logo-name {
    fill: white;
  }
  .header.open .logo-circle {
    fill: white;
  }
  .header.open .logo-label {
    fill: #252b46;
  }
  .header.open .toggles #hamburger {
    display: none;
  }
  .header.open .toggles #close {
    display: inline;
  }
  .header .toggles {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .header .toggles #close {
    display: none;
  }
  .header__nav {
    display: none;
    opacity: 0.3;
    transition: all ease-in-out 1s;
  }
  .header__nav.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0 1.5rem 2rem;
    opacity: 1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 84px);
    z-index: 1;
    color: white;
    background-color: rgba(37, 43, 70, 0.9);
  }
  .header__nav.open ul {
    display: block;
  }
  .header__nav ul {
    border-top: 1px solid #9194a1;
  }
  .header__nav ul li {
    width: 100%;
    border-bottom: 1px solid #9194a1;
    padding: 1rem 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
  }
  .header__nav ul li:hover {
    opacity: 0.5;
  }
  .header__nav ul li:last-child {
    width: fit-content;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
  .header__nav ul li:last-child:hover {
    color: #252b46;
    background-color: white;
    opacity: 1;
  }
  .header__nav .nav-icons img {
    cursor: pointer;
    transition: all ease-in-out 0.2s;
  }
  .header__nav .nav-icons img:hover {
    opacity: 0.5;
  }
  .header__nav .nav-icons img:first-child {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 850px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
  }
  .header img {
    object-fit: contain;
  }
  .header .toggles {
    display: none;
  }
  .header__nav .nav-icons {
    display: none;
  }
  .header__nav ul {
    display: flex;
    align-items: center;
  }
  .header__nav ul li {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-left: 2.5rem;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
  }
  .header__nav ul li:hover {
    opacity: 0.5;
  }
  .header__nav ul li:last-child {
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    background-color: #fa5757;
    color: #fff;
    border: 1px solid #fa5757;
  }
  .header__nav ul li:last-child:hover {
    color: #fa5757;
    background-color: #fff;
  }
  .header__nav ul li:last-child:hover {
    opacity: 1;
  }
}

h2 {
  color: #252b46;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

p {
  color: #9194a1;
  line-height: 1.5;
  font-size: 0.98rem;
  margin-bottom: 1.3rem;
  text-align: center;
}

#accordion .card {
  border: none;
  border-bottom: 1px solid rgba(145, 148, 161, 0.4);
}

#accordion .card-header {
  background: white;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#accordion .card-header h5 {
  font-size: 0.85rem;
}

#accordion .card-header svg {
  transition: all ease-in-out 0.2s;
  transform: scale(0.8);
  transform: rotateX(180deg);
}

#accordion .card-header svg path {
  stroke: #fa5757;
}

#accordion .card-header.collapsed svg {
  transform: rotateX(0deg);
}

#accordion .card-header.collapsed svg path {
  stroke: #5267df;
}

.slider__toggle {
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.slider__toggle h4 {
  border-top: 1px solid rgba(145, 148, 161, 0.2);
  color: #9194a1;
  opacity: 0.8;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.7rem;
  margin-bottom: 0;
  cursor: pointer;
}

.slider__toggle h4.activeToggle {
  color: #252b46;
}

.slider__toggle h4.activeToggle div .slider__indicator {
  display: block;
}

.slider__toggle h4:hover {
  color: #252b46;
}

.slider__toggle h4 div {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.slider__toggle h4 div .slider__indicator {
  display: none;
  width: 80%;
  position: absolute;
  bottom: 0;
  margin: 0 10% -13px;
  height: 3px;
  background-color: #fa5757;
}

.slider__content {
  width: 100%;
}

.slider__content .featureCard:not(:first-child) {
  display: none;
}

.slider__content .featureCard img {
  position: relative;
  width: 100%;
  padding: 1rem 1.5rem 3rem;
}

.slider__content .featureCard__text {
  text-align: center;
  padding: 1rem;
}

.slider__content .featureCard__text h4 {
  color: #252b46;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.slider__content .featureCard__text p {
  font-size: 0.9rem;
}

.slider__content .featureCard__text button {
  display: none;
}

.hero {
  margin-bottom: 4rem;
}

.hero img {
  position: relative;
  width: 100%;
  padding: 1rem 1.5rem 3rem;
}

.hero__text {
  text-align: center;
  padding: 1rem;
}

.hero__text h1 {
  font-size: 1.8rem;
  color: #252b46;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.hero__text p {
  color: #9194a1;
  line-height: 1.5;
  font-size: 0.98rem;
  margin-bottom: 1.3rem;
}

.hero__text .hero__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__text .hero__buttons button {
  box-shadow: 4px 9px 10px 0px rgba(83, 104, 223, 0.1);
  font-weight: 500;
}

.hero__text .hero__buttons button:nth-child(1) {
  all: initial;
  font-family: "Rubik", sans-serif;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  background-color: #5368df;
  color: #fff;
  border: 1px solid #5368df;
  text-align: center;
  font-size: 0.85rem;
  font-size: 0.85rem;
  margin-right: 1rem;
}

.hero__text .hero__buttons button:nth-child(1):hover {
  color: #5368df;
  background-color: #fff;
}

.hero__text .hero__buttons button:nth-child(2) {
  all: initial;
  font-family: "Rubik", sans-serif;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #9194a1;
  border: 1px solid #f8f8f8;
  text-align: center;
  font-size: 0.85rem;
  font-size: 0.85rem;
}

.hero__text .hero__buttons button:nth-child(2):hover {
  color: #f8f8f8;
  background-color: #9194a1;
}

.features {
  margin-bottom: 3rem;
}

.features__header {
  padding: 1rem;
  text-align: center;
}

.download__header {
  padding: 1rem;
}

.download__cards .downloadCard {
  max-width: 320px;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0px 3px 13px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 1rem;
}

.download__cards .downloadCard__content {
  background-image: url(../images/bg-dots.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  padding: 1rem;
  padding-top: 2.5rem;
}

.download__cards .downloadCard__content img {
  object-fit: contain;
  width: 40%;
  margin: 0 auto;
}

.download__cards .downloadCard__content h6 {
  margin: 1.5rem auto 0.4rem;
  color: #252b46;
  font-weight: 500;
  font-size: 1.2rem;
}

.download__cards .downloadCard__content p {
  margin-bottom: 0;
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

.download__cards .downloadCard button {
  all: initial;
  font-family: "Rubik", sans-serif;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  background-color: #5368df;
  color: #fff;
  border: 1px solid #5368df;
  text-align: center;
  font-size: 0.85rem;
  margin: 1rem;
  width: 80%;
  margin: 1.5rem auto;
}

.download__cards .downloadCard button:hover {
  color: #5368df;
  background-color: #fff;
}

.faq {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.faq__content {
  padding: 0.7rem;
}

.faq__button {
  display: block;
  all: initial;
  font-family: "Rubik", sans-serif;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  background-color: #5368df;
  color: white;
  border: 1px solid #5368df;
  text-align: center;
  font-size: 0.85rem;
  box-shadow: 4px 9px 10px 0px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  margin: 2rem auto !important;
  margin-left: auto !important;
}

.faq__button:hover {
  color: #5368df;
  background-color: white;
}

.contact {
  background-color: #5368df;
  padding: 3rem 1.5rem;
  color: white;
  text-align: center;
}

.contact p {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.contact h5 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact form input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.8rem;
  height: 40px;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  margin-bottom: 0.7rem;
}

.contact form button {
  all: initial;
  font-family: "Rubik", sans-serif;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  background-color: #fa5757;
  color: #fff;
  border: 1px solid #fa5757;
  text-align: center;
  font-size: 0.85rem;
  padding: 0;
  border-radius: 4px;
  height: 40px;
}

.contact form button:hover {
  color: #fa5757;
  background-color: #fff;
}

.contact form button:hover {
  background: transparent;
}

.footer {
  background-color: #252b46;
  color: white;
  text-align: center;
  padding: 2rem 1.5rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer .links p {
  cursor: pointer;
  color: white;
  margin-bottom: 0.7rem;
  transition: all ease-in-out 0.2s;
}

.footer .links p:hover {
  opacity: 0.5;
}

.footer .right {
  margin: 1.5rem 0 1rem;
}

.footer .right svg {
  transition: all ease-in-out 0.2s;
}

.footer .right svg:hover {
  opacity: 0.5;
}

.footer .right svg:first-of-type {
  margin-right: 1rem;
}

.footer p.attribution {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}
/*# sourceMappingURL=main.css.map */